In [18]:
import datetime as dt

In [19]:
from dateutil.relativedelta import relativedelta as rd

In [20]:
class car_availability:
    
    def __init__(self,car_code,make,car_type,stock):
        self.car_code=car_code
        self.make=make
        self.car_type=car_type
        self.stock=stock
        self.no_cars=0
        self.available=self.stock-self.no_cars
        
    def display_availability(self):
        print("Car code:{},Make:{},Car type:{},Available:{}".format(self.car_code,self.make,self.car_type,self.available))
        
    def info(self):
        c1.display_availability()
        c2.display_availability()
        c3.display_availability()
        c4.display_availability()
        c5.display_availability()
        
    def booking_options(self):
        self.car_code=input("Enter the selected car code :").lower()
        self.no_cars=int(input("No of cars required :"))
        if 0<self.no_cars <= self.available:
            self.available-=self.no_cars
        else:
            print("Requested cars should be greater than zero and less than or equal to availability")
            
        self.rental_mode=input("Enter the rental mode(H:Hourly,D:Daily,W:Weekend) :\t").upper()
        if self.rental_mode=="H":
            start_d=input("Enter start date(dd:mm:yyyy):\t")
            start_t=input("Enter start time (24 hr format,hh:mm):\t")
            start=start_d+" "+start_t
            date_format_str="%d:%m:%Y:%H:%M"
            self.trip_start=dt.datetime.strptime(start,date_format_str)
            print("Booking was successful")
            self.trip_end=dt.datetime.now()
            time=rd(self.trip_end,self.trip_start)
            if time.minutes>=30:
                self.duration=(time.hours+1)
                amount= self.duration * 55
            else:
                self.duration= time.hours
                amount= self.duration*55
                self.amount = amount*self.no_cars
                
        elif self.rental_mode=="D":
                start_date= input("Enter start date (dd:mm:yyyy):\t")
                end_date= input("Enter end date(dd:mm:yyyy):\t")
                print("Booking was successful")
                date_format = "%d:%m:%Y"
                self.trip_start=dt.datetime.strptime(start_date,"%d:%m:%Y")
                self.trip_end=dt.datetime.strptime(end_date,"%d:%m:%Y")
                time=rd(self.trip_end,self.trip_start)
                if time.hours>=10:
                    self.duration=(time.days+1)
                    self.amount=self.duration*1000
                else:
                    self.duration=time.days
                    amount=self.durations * 1000
                    self.amount= amount*self.no_cars
        else:
                self.start_date=input("Enter weekend(dd:mm:yyyy):\t")
                print("Booking was successful")
                self.trip_start=dt.datetimr.strptime(self.start_date,'%d:%m:%Y')
                self.trip_end=dt.datetime.today()
                time=rd(self.trip_end,self.trip_start)
                self.duration=time.days
                amount=self.duration*2500
                self.amount= amount*self.no_cars
                
        def bill_(self):
            print("""       Bill
                       Customer Name               :{}
                       Address                     :{}
                       Car Code                    :{}
                       Number of cars rented       :{}
                       Rented on                   :{}
                       Returned on                 :{}
                       Rental_mode                 :{}
                       Rental_time(hours/days)     :{}
                       Total_amt                   :{}Rupees""".format(self.c_name,self.c_add,self.car_code,self.no_cars,self.trip_start,
                                                                       self.trip_end,self.rental_mode,self.duration,self.amount))

In [21]:
class cust_details(car_availability):
    def c_details(self,c_name,c_add):
        self.c_name=c_name
        self.c_add=c_add
        
    def customers_details (self):
        self.c_name=input("Enter name:").title()
        self.c_add=input("Enter address:").title()
        b_r=input("Do you wish to book a car (Y/N):").upper()
        if b_r=="Y":
            self.booking_options()
        else:
            self.available +=self.no_cars
            self.bill_()

In [22]:
c1=cust_details("c1","Toyota","4-seater",6)
c2=cust_details("c2","Honda","6-seater",8)
c3=cust_details("c3","Tata","8-seater",10)
c4=cust_details("c4","Hyundai","4-seater",5)
c5=cust_details("c5","Mercedes","8-seater",12)

In [23]:
import pandas as pd

In [24]:
pd.read_excel("~/work/datasets/Car_rental module.xlsx")

  car_code      make  car_type  stock
0       c1    Toyota  4-seater      6
1       c2     Honda  6-seater      8
2       c3      Tata  8-seater     10
3       c4   Hyundai  4-seater      5
4       c5  Mercedes  8-seater     12